@charset 'utf-8';



#wrap {overflow: hidden;margin: auto;position: relative}
#wrap:before {
    display: block;
    content: '';
    position: absolute;
    left: 10.937%;
    top: 0;
    width: 1px;
    height: 100%;
    background: #000;
    z-index: 999
    
} /*left: 210px;*/

#wrap:after {
    display: block;
    content: '';
    position: absolute;
    right: 10.937%;
    top: 0;
    width: 1px;
    height: 100%;
    background: #000;
    z-index: 999
    
}

#fullpage {font-family: 'Noto Sans KR', sans-serif;}



#header {
   position: absolute;left: 0;top: 0;width: 100%;box-sizing: border-box;z-index: 99;border-bottom: 1px solid #000;position: fixed;background: #fff;

}

#header .inner {
    height: 100px;
    box-sizing: border-box;
    background: #fff
}

#header .inner .gnb {
    display: flex;
    float: right;
    position: absolute;
    right: 0;
    top: 33%
}

#header .inner .gnb li {
    margin-right: 100px;
}
#header .inner .gnb li:nth-child(3) {
    margin-right: 360px;
}

#header .inner .gnb li a {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#header .inner .gnb li a:hover {
   background-image: url(../img/portfolio/text_hover3.png);
    background-repeat: repeat-x;
    background-size: cover;
    color: rgba(255,255,255,1);
    -moz-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    animation: slide 25s linear infinite;
    
}

#footer {
   position: absolute;left: 0;bottom: 0;width: 100%;box-sizing: border-box;z-index: 99;border-top: 1px solid #000;position: fixed;background: #fff;

}

#footer .inner {
    height: 100px;
    box-sizing: border-box;
    background: #fff;
    width: 1300px;
    margin: 0 auto;
    display: flex
}

#footer .inner img {
    width: 48px;height: 48px;
    margin: 26px 0;
}

#footer .inner p {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: .2px;
    line-height: 100px;
    margin-left: 20px
}

@keyframes slide {
    0% {
        background-position: left 0px top:80px;
    }
    
    40% {
        background-position: left 800px top:80px;
    }
    100% { 
        background-position: left 1800px bottom 0px;
    }
}

#intro {position: relative;border-bottom: 1px solid #000;box-sizing: border-box} /*padding:160px 310px 320px*/
#intro .inner {padding: 60px;box-sizing: border-box;width: 1400px;margin: 0 auto}


.wrapper h2 {
    font-size: 80px;
    font-weight: bold;
    transform: translateY(60px);
    line-height: 100px;
    transform: translateY(-28px)
    
}

.wrapper span:before {
    content: "";
    animation: animate infinite 12s;
    
}

@keyframes animate {
    0%{
        content: "섬세한";  
    }
    20%{
        content: "예리한";  
    }
    40%{
        content: "성실한";  
    }
    60%{
        content: "트렌디한";  
    }
    80%{
        content: "성장하는";  
    }
    100%{
        content: "소통하는";  
    }
}


#work {border-bottom: 1px solid #000} /*padding: 150px 310px 200px*/
#work ul{display: flex;text-align: center;margin: 0 auto;width: 1300px;transform: translateY(0px)}
#work ul li {position: relative;margin-right: 20px;width: 310px}
#work ul li:nth-child(odd) {margin-top: 40px;}
#work ul li:nth-child(1) {}
#work h1 {font-size: 32px;font-weight: bold;line-height: 40px;margin-top: 16px}

#work ul li .block {width: 310px;height: 400px;overflow: hidden;}
#work ul li img {width:100%;height:100%;transition: transform .5s;transform:opacity 0.5s  }
#work ul li img:hover {transform: scale(1.2);filter: opacity(70%)}
#work p {margin-top: 12px;}




