<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>타이펜</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="js/common.js"></script>
</head>
<body>
    <div id="wrap"><!--wrap-->
        
           
           <header id="header" class="clearfix"><!--header-->
            <h1><a href="index.html"><img src="images/common/logo.jpg" alt="타이펜로고"></a></h1>
            
            <ul class="util">
               <li>
                <form>
                        <fieldset>
                            <legend>검색</legend>
                            <input type="text"><input type="submit" value="검색">
                        </fieldset>
                </form>
                </li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">login</a></li>
                <li><a href="#">join</a></li>
                <li><a href="#">한국어</a></li>
            </ul>
            
            <nav>
                <ul class="gnb">
                    <li><a href="#">만년필</a>
                    <ul class="dp2">
                        <li><a href="#">만년필</a></li>
                        <li><a href="#">리필</a></li>
                    </ul>
                    </li>
                    <li><a href="#">SALE</a></li>
                    <li><a href="sub/shop.html">매장안내</a>
                   <ul class="dp2">
                        <li><a href="sub/shop.html">가까운 매장 찾기</a></li>
                    </ul>
                     </li>
                    <li><a href="#">커뮤니티</a>
                   <ul class="dp2">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">이벤트</a></li>
                        <li><a href="sub/review.html">리뷰</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">문의</a></li>
                    </ul>
                     </li>
                    <li><a href="#">MY</a>
                    <ul class="dp2">
                        <li><a href="#">내 정보 찾기</a></li>
                        <li><a href="#">장바구니</a></li>
                        <li><a href="#">주문/배송목록</a></li>
                        <li><a href="#">최근 본 상품</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>
            
            
        </header><!--//header-->
        
        <article id="main_visual"><!--main_visual-->
            <ul class="mv">
                <li><a href="#"><img src="images/main/mainbanner1.png" alt="메인이미지1"></a></li>
                <li><a href="#"><img src="images/main/mainimg-2.jpg" alt="메인이미지2"></a></li>
            </ul>
        </article><!--//main_visual-->
        
        
        <section id="tipen"><!--tipen-->
            <div class="tipen_inner">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cf6NwnRhfnc"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                <div class="tipen_desc">
                    <h2>TiPen의 세심한 기술력</h2>
                    <p class="s_tit">1위를 차지한 센시티브 만년필의 필기감을<br>시각과 청각으로 미리 경험해보세요.</p>
                    <p class="more"><a href="#">이 상품 보기 ></a></p>
                </div>
            </div>
        </section><!--//tipen-->
        
        <section id="best"><!--best-->
           <h1>BEST</h1>
            <p class="all"><a href="#">전체보기 ></a></p>
            <div class="best_inner">
            <ul class="best_rank">
                <li>
                <a href="#">
                <h3>1st</h3>
                <img src="images/main/main_sensitivepen.jpg" alt="센시티브펜">
                <p class="name">센시티브 만년필</p>
                <p class="heart"><a href="#"><img src="images/common/heart.png" alt="하트1"></a></p>
                <p class="price">100,000</p>
                </a>
                </li>
                <li>
                <a href="#">
                <h3>2nd</h3>
                <img src="images/main/main_glossypen.jpg" alt="글로시펜">
                <p class="name">글로시 만년필</p>
                <p class="heart"><a href="#"><img src="images/common/heart.png" alt="하트1"></a></p>
                <p class="price">70,000</p>
                </a>
                </li>
                <li>
                <a href="#">
                <h3>3rd</h3>
                <img src="images/main/main_memipen.jpg" alt="매미펜">
                <p class="name">매미 만년필</p>
                <p class="heart"><a href="#"><img src="images/common/heart.png" alt="하트1"></a></p>
                <p class="price">200,000</p>
                </a>
                </li>
            </ul>
            </div>
        </section><!--//best-->
        
        
        <section id="brand"><!--section-->
            <div class="brand_inner">
               <div class="brandnaming">
                <h2>Brand Naming</h2>
                <p>만년필의 뾰족한 끝을 의미하는 Tip과<br>
pen을 합쳐 TiPen이 완성되었습니다.</p>
           <p>TiPen은 우수한 기술력으로 설립되고<br>
단기간 내에 많은 분들의 사랑을 받고 있습니다.</p>
           </div>
            </div>
        </section><!--//section-->
        
        
        <section id="inform" class="clearfix"><!--inform-->
            <div class="notice">
                <h3>공지사항</h3>
                <p class="all"><a href="#">전체보기 ></a></p>
                <ul>
                    <li><a href="#">크리스마스 기념 세일 공지<span>12-24</span></a></li>
                    <li><a href="#">매미만년필이 재입고되었습니다.<span>12-15</span></a></li>
                    <li><a href="#">센시티브 만년필이 재입고되었습니다.<span>10-01</span></a></li>
                </ul>
            </div>
            <div class="sale">
                <p><a href="#"><img src="images/main/joinbanner.jpg" alt="신규회원쿠폰"></a></p>
                <p><a href="#"><img src="images/main/salebanner.jpg" alt="신년세일쿠폰"></a></p>
            </div>
        </section><!--//inform-->
        
        
        <section id="review" class="clearfix"><!--review-->
           <h1>Review</h1>
           <div class="review_bg">
            <ul class="review_img">
                <li><a href="#"><img src="images/main/review1.jpg" alt="리뷰이미지1"><p>배송도 이틀만에 오고<br>사은품도 있어서 좋았어요<br>필기감도 너무 좋고...</p></a></li>
                <li><a href="#"><img src="images/main/review2.png" alt="리뷰이미지2"><p>그립감도 좋고 사각사각 잘<br>적히네요 잘 쓰겠습니다</p></a></li>
                <li><a href="#"><img src="images/main/review3.png" alt="리뷰이미지1"><p>문양도 이쁘고 저렴하고<br>만족</p></a></li>
                <li><a href="#"><img src="images/main/review4.png" alt="리뷰이미지4"><p>펜 색깔이 너무 이뻐요<br>닉값하네요</p></a></li>
            </ul>
            </div>
        </section><!--//review-->
        
        
        <footer id="footer"><!--footer-->
            <div class="footer_inner clearfix">
                <ul class="footer_link clearfix">
                <li><a href="sub/etc.html">회사소개</a></li>
                <li><a href="sub/etc.html">이용약관</a></li>
                <li><a href="sub/etc.html">개인정보처리방침</a></li>
                <li><a href="sub/etc.html">사업자정보확인</a></li>
                </ul>
                
                <address>TiPen본사] 부산광역시 노진구 김수로 525, 고객센터 T_ 051.910.0910 / F_ 051.910.0910<br>
                (주)TiPen, 604-82-03732, 남땡철<br>
                COPYRIGHT &copy; 2021 BUSAN HUMAN RESOURCES DEVELOPMENT INSTITUTE. All rights reserverd.
                </address>
                
                <ul class="sns">
                    <li><a href="#"><img src="images/common/instabox_footer.png" alt="인스타"></a></li>
                    <li><a href="#"><img src="images/common/twitterbox_footer.png" alt="트위터"></a></li>
                </ul>
                
            </div>
        </footer><!--//footer-->
    </div><!--//wrap-->
</body>
</html>