<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>타이펜</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
    <link href="../css/sub.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="../js/common.js"></script>
</head>
<body>
    <div id="wrap"><!--wrap-->
        
           
           <header id="header" class="clearfix"><!--header-->
            <h1><a href="../index.html"><img src="../images/common/logo.jpg" alt="타이펜로고"></a></h1>
            
            <ul class="util">
               <li>
                <form>
                        <fieldset>
                            <legend>검색</legend>
                            <input type="text"><input type="submit" value="검색">
                        </fieldset>
                </form>
                </li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">login</a></li>
                <li><a href="#">join</a></li>
                <li><a href="#">한국어</a></li>
            </ul>
            
            <nav>
                <ul class="gnb">
                    <li><a href="#">만년필</a>
                    <ul class="dp2">
                        <li><a href="#">만년필</a></li>
                        <li><a href="#">리필</a></li>
                    </ul>
                    </li>
                    <li><a href="#">SALE</a></li>
                    <li><a href="shop.html">매장안내</a>
                   <ul class="dp2">
                        <li><a href="shop.html">가까운 매장 찾기</a></li>
                    </ul>
                     </li>
                    <li><a href="#">커뮤니티</a>
                   <ul class="dp2">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">이벤트</a></li>
                        <li><a href="../sub/review.html">리뷰</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">문의</a></li>
                    </ul>
                     </li>
                    <li><a href="#">MY</a>
                    <ul class="dp2">
                        <li><a href="#">내 정보 찾기</a></li>
                        <li><a href="#">장바구니</a></li>
                        <li><a href="#">주문/배송목록</a></li>
                        <li><a href="#">최근 본 상품</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>
            
            
        </header><!--//header-->
        
        <section id="product"><!--product-->
            <div class="homebutton clearfix">
            <p class="home"><a href="../index.html"><img src="../images/common/home.png" alt="홈 아이콘"></a></p>
            <p class="home_right"><img src="../images/common/home_right.png" alt="홈 아이콘"></p>
            <p class="home_find"><a href="shop.html">만년필</a></p>
            
            </div>
            
            <div class="fountain clearfix">
                <h2>Fountainpen</h2>
           </div> 
           
           
            <ul class="best_product clearfix">
               <h1>BEST</h1>
                <li>
                <a href="#">
                <img src="../images/product/img_product_sensitivepen.jpg" alt="센시티브펜">
                <p class="name">센시티브 만년필</p>
                <p class="heart"><a href="#"><img src="../images/common/heart.png" alt="하트1"></a></p>
                <p class="price">100,000</p>
                </a>
                </li>
                <li>
                <a href="#">
                <img src="../images/product/img_product_glossypen.jpg" alt="글로시펜">
                <p class="name">글로시 만년필</p>
                <p class="heart"><a href="#"><img src="../images/common/heart.png" alt="하트1"></a></p>
                <p class="price">70,000</p>
                </a>
                </li>
                <li>
                <a href="#">
                <img src="../images/product/memipen.png" alt="매미펜">
                <p class="name">매미 만년필</p>
                <p class="heart"><a href="#"><img src="../images/common/heart.png" alt="하트1"></a></p>
                <p class="price">200,000</p>
                </a>
                </li>
            </ul>
           
           <div class="paging"><!--paging-->
                    <ul>
                        <li><a href="#">처음페이지</a></li>
                        <li><a href="#">이전페이지</a></li>
                        <li class="on">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">다음페이지</a></li>
                        <li><a href="#">마지막페이지</a></li>
                    </ul>
                </div><!--//paging-->
        </section><!--//review-->
        
           <footer id="footer"><!--footer-->
            <div class="footer_inner clearfix">
                <ul class="footer_link clearfix">
                <li><a href="sub/etc.html">회사소개</a></li>
                <li><a href="sub/etc.html">이용약관</a></li>
                <li><a href="sub/etc.html">개인정보처리방침</a></li>
                <li><a href="sub/etc.html">사업자정보확인</a></li>
                </ul>
                
                <address>TiPen본사] 부산광역시 노진구 김수로 525, 고객센터 T_ 051.910.0910 / F_ 051.910.0910<br>
                (주)TiPen, 604-82-03732, 남땡철<br>
                COPYRIGHT &copy; 2021 BUSAN HUMAN RESOURCES DEVELOPMENT INSTITUTE. All rights reserverd.
                </address>
                
                <ul class="sns">
                    <li><a href="#"><img src="../images/common/instabox_footer.png" alt="인스타"></a></li>
                    <li><a href="#"><img src="../images/common/twitterbox_footer.png" alt="트위터"></a></li>
                </ul>
                
            </div>
        </footer><!--//footer-->
    </div><!--//wrap-->
</body>
</html>