<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>타이펜</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
    <link href="../css/sub.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="../js/common.js"></script>
</head>
<body>
    <div id="wrap"><!--wrap-->
        
           
           <header id="header" class="clearfix"><!--header-->
            <h1><a href="../index.html"><img src="../images/common/logo.jpg" alt="타이펜로고"></a></h1>
            
            <ul class="util">
               <li>
                <form>
                        <fieldset>
                            <legend>검색</legend>
                            <input type="text"><input type="submit" value="검색">
                        </fieldset>
                </form>
                </li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">login</a></li>
                <li><a href="#">join</a></li>
                <li><a href="#">한국어</a></li>
            </ul>
            
            <nav>
                <ul class="gnb">
                    <li><a href="#">만년필</a>
                    <ul class="dp2">
                        <li><a href="#">만년필</a></li>
                        <li><a href="#">리필</a></li>
                    </ul>
                    </li>
                    <li><a href="#">SALE</a></li>
                    <li><a href="../sub/shop.html">매장안내</a>
                   <ul class="dp2">
                        <li><a href="../sub/shop.html">가까운 매장 찾기</a></li>
                    </ul>
                     </li>
                    <li><a href="#">커뮤니티</a>
                   <ul class="dp2">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">이벤트</a></li>
                        <li><a href="review.html">리뷰</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">문의</a></li>
                    </ul>
                     </li>
                    <li><a href="#">MY</a>
                    <ul class="dp2">
                        <li><a href="#">내 정보 찾기</a></li>
                        <li><a href="#">장바구니</a></li>
                        <li><a href="#">주문/배송목록</a></li>
                        <li><a href="#">최근 본 상품</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>
            
            
        </header><!--//header-->
        
        <section id="review"><!--review-->
            <div class="homebutton clearfix">
            <p class="home"><a href="../index.html"><img src="../images/common/home.png" alt="홈 아이콘"></a></p>
            <p class="home_right"><img src="../images/common/home_right.png" alt="홈 아이콘"></p>
            <p class="home_find"><a href="review.html">리뷰</a></p>
            </div>
            
            <h1>MONTHLY <span>BEST</span> REVIEWER</h1>
            <h2>매월 마지막 날,<br>베스트 리뷰어를 선정합니다.</h2>
            <ul class="rank clearfix">
               <li><a href="#"><img src="../images/review/img_review_blepen.jpg" alt="블레만년필">
                <p>완전 본새나요 추천합니다
                생각보다 몸통이 커서 손 작은 분들은 생각해보시면 좋을 것 같네요 그래도 필기감 굳</p>
                <dl clearfix><img src="../images/review/img_review_ble(s).png" alt="블레만년필">
                <dd class="name">블레만년필</dd><dt>리뷰</dt><dd>109</dd><dt>평점</dt><dd>4.7</dd></dl>
                </a>
                </li>
                <li><a href="#"><img src="../images/review/img_review_koreapen.jpg" alt="한국풍만년필">
                <p>완전 기대하구 있었는데 기대 이상이에요
ㅠㅠ 사진보다 실물이 훨씬 예뻐요 
스티커도 주고 최고...</p>
                <dl clearfix><img src="../images/review/img_review_review7(s).jpg" alt="한국풍만년필">
                <dd class="name">한국풍만년필</dd><dt>리뷰</dt><dd>109</dd><dt>평점</dt><dd>4.7</dd></dl>
                </a>
                </li>
                <li><a href="#"><img src="../images/review/img_review_silverglowpen.jpg" alt="실버글로만년필">
                <p>색감이 잘 뽑혔네요 가격도 적당하고 이정
도면 입문용으로 좋은것같네요 잘쓸게요
사각사각 거리는 느낌입니다 참고하세요...</p>
                <dl clearfix><img src="../images/review/img_review_review7(s).jpg" alt="한국풍만년필">
                <dd class="name">실버글로만년필</dd><dt>리뷰</dt><dd>15</dd><dt>평점</dt><dd>4.7</dd></dl>
                </a>
                </li> 
            </ul>
            
            <div class="notice clearfix">
                *지급된 쿠폰은 1년 내에 사용가능하며<br>이후 소멸됨<br>일부 신제품에는 사용불가

            </div>
            
            <ul class="method clearfix">
                <li><p>text review</p><caption>30자 이상 작성 시 2000P 지급</caption></li>
                <li><p>photo review</p><caption>30자 이상 작성 + 이미지리뷰 3000P 지급</caption></li>
                <li><p>insta review</p><caption>인스타에 제품사진과 #티펜#TiPen#만년필을
                <br>태그한 뒤 리뷰창에 링크를 걸어주시면<br>
                추가적으로 1000P 지급</caption></li>
            </ul>
            
            <div class="photo clearfix">
                <p class="all">All Photo Review</p>
                <form>
                        <fieldset>
                            <legend>공지사항검색</legend>
                            
                            <select>
                                <option>추천순</option>
                                <option>최신순</option>
                                <option>평점순</option>
                            </select>
                        </fieldset>
                    </form>
                <ul>
                <li><a href="#"><img src="../images/review/img_review_review1.jpg" alt="실버링만년필">
                <p>적지도 않았는데 뚝뚝 흘러요</p>
                <dl clearfix><img src="../images/review/img_review_review1(s).png" alt="실버링만년필">
                <dd class="name">실버링만년필</dd><dt>리뷰</dt><dd>3</dd><dt>평점</dt><dd>4.3</dd></dl>
                </a>
                </li>
                <li><a href="#"><img src="../images/review/img_review_review2.jpg" alt="바퀴벌레만년필">
                <p>이름이 무슨일...근데 이름만 빼면 괜찮네요 ㅎㅎ;;</p>
                <dl clearfix><img src="../images/review/img_review_review2(s).jpg" alt="바퀴벌레만년필">
                <dd class="name">바퀴벌레만년필</dd><dt>리뷰</dt><dd>10</dd><dt>평점</dt><dd>4.8</dd></dl>
                </a>
                </li>
                <li><a href="#"><img src="../images/review/img_review_review3.jpg" alt="인조깃털만년필">
                <p>진짜 19세기 느낌나는 만년필 찾고있었는데 싸게팔아서 사봤는데 좋음</p>
                <dl clearfix><img src="../images/review/img_review_review3(s).jpg" alt="인조깃털만년필">
                <dd class="name">인조깃털만년필</dd><dt>리뷰</dt><dd>1</dd><dt>평점</dt><dd>5.0</dd></dl>
                </a>
                </li>
                <li><a href="#"><img src="../images/review/img_review_review4.jpg" alt="커브만년필">
                <p>만년필 콜렉터라서 티펜꺼 거의 다 사봤는데 이것두 역시 맘에 들어여 </p>
                <dl clearfix><img src="../images/review/img_review_review4(s).jpg" alt="커브만년필">
                <dd class="name">커브만년필</dd><dt>리뷰</dt><dd>32</dd><dt>평점</dt><dd>4.9</dd></dl>
                </a>
                </li>
                <li><a href="#"><img src="../images/review/img_review_review5.jpg" alt="블루팔레트만년필">
                <p>펜 색깔이 너무 이뻐요 닉값하네요</p>
                <dl clearfix><img src="../images/review/img_review_review5(s).jpg" alt="블루팔레트만년필">
                <dd class="name">블루팔레트만년필</dd><dt>리뷰</dt><dd>36</dd><dt>평점</dt><dd>4.9</dd></dl>
                </a>
                </li>
                <li><a href="#"><img src="../images/review/img_review_review6.jpg" alt="실버링만년필">
                <p>5만원이라서 비싸다 생각했는데  받으니까 그 생각이 사라졌어요 진짜 맘에 드네요 필기감도 맘에 들고 굳굳</p>
                <dl clearfix><img src="../images/review/img_review_review6(s).jpg" alt="실버링만년필">
                <dd class="name">블루팔레트만년필</dd><dt>리뷰</dt><dd>36</dd><dt>평점</dt><dd>4.9</dd></dl>
                </a>
                </li>
                <li><a href="#"><img src="../images/review/img_review_review7.jpg" alt="한국풍만년필">
                <p>ㄹㅇ 맘에 들어요 특이하고 제스탈이네요 배송도 ㅃㄹ와서 좋았어요 </p>
                <dl clearfix><img src="../images/review/img_review_review7(s).jpg" alt="한국풍만년필">
                <dd class="name">한국풍만년필</dd><dt>리뷰</dt><dd>109</dd><dt>평점</dt><dd>4.7</dd></dl>
                </a>
                </li>
                <li><a href="#"><img src="../images/review/img_review_review8.png" alt="실버링만년필">
                <p>만년필 입문하려고 아무거나 보고있었는데이게가장 무난해서 구매해봤읍니다.서걱서걱 잘써집니다감사해요.</p>
                <dl clearfix><img src="../images/review/img_review_review8(s).jpg" alt="실버링만년필">
                <dd class="name">심플이즈베스트만년필</dd><dt>리뷰</dt><dd>3</dd><dt>평점</dt><dd>4.3</dd></dl>
                </a>
                </li>
                </ul>
            </div>
            
            <div class="paging"><!--paging-->
                    <ul>
                        <li><a href="#">처음페이지</a></li>
                        <li><a href="#">이전페이지</a></li>
                        <li class="on">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">다음페이지</a></li>
                        <li><a href="#">마지막페이지</a></li>
                    </ul>
                </div><!--//paging-->
        </section><!--//review-->
        
        
        <footer id="footer"><!--footer-->
            <div class="footer_inner clearfix">
                <ul class="footer_link clearfix">
                <li><a href="sub/etc.html">회사소개</a></li>
                <li><a href="sub/etc.html">이용약관</a></li>
                <li><a href="sub/etc.html">개인정보처리방침</a></li>
                <li><a href="sub/etc.html">사업자정보확인</a></li>
                </ul>
                
                <address>TiPen본사] 부산광역시 노진구 김수로 525, 고객센터 T_ 051.910.0910 / F_ 051.910.0910<br>
                (주)TiPen, 604-82-03732, 남땡철<br>
                COPYRIGHT &copy; 2021 BUSAN HUMAN RESOURCES DEVELOPMENT INSTITUTE. All rights reserverd.
                </address>
                
                <ul class="sns">
                    <li><a href="#"><img src="../images/common/instabox_footer.png" alt="인스타"></a></li>
                    <li><a href="#"><img src="../images/common/twitterbox_footer.png" alt="트위터"></a></li>
                </ul>
                
            </div>
        </footer><!--//footer-->
    </div><!--//wrap-->
</body>
</html>