<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kingdom</title>
    <link href="https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat&family=Noto+Sans+KR:wght@100;500&display=swap" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/ani.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
				

    <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrap">
        <!--wrap-->
        <header id="header">
            <!--header-->
            <div class="inner">
                <h1><a href="#"><img src="images/img/logo.png" alt="로고"></a></h1>

                <nav>
                    <ul class="gnb">
                        <li><a href="#">KINGDOM</a>
                            <ul class="dp2">
                                <li><a href="#">Trailer</a></li>
                                <li><a href="#">Characters</a></li>
                            </ul>
                        </li>
                        <li><a href="#">PHOTO</a>
                            <ul class="dp2">
                                <li><a href="#">StillCut</a></li>
                            </ul>
                        </li>
                        <li><a href="#">VIDEO</a>
                            <ul class="dp2">
                                <li><a href="#">Interview</a></li>
                                <li><a href="#">Making</a></li>
                            </ul>
                        </li>
                        <li><a href="#">OST</a>
                            <ul class="dp2">
                                <li><a href="#">OST</a></li>
                            </ul>
                        </li>
                    </ul>

                    <a href="#" class="m_menu">menu</a>
                    <div class="m_wrap">
                        <ul class="m_gnb">
                            <li><a href="#">KINGDOM</a>
                                <ul class="depth2">
                                    <li><a href="#">Trailer</a></li>
                                    <li><a href="#">Characters</a></li>
                                </ul>
                            </li>
                            <li><a href="#">PHOTO</a>
                                <ul class="depth2">
                                    <li><a href="#">StillCut</a></li>
                                </ul>
                            </li>
                            <li><a href="#">VIDEO</a>
                                <ul class="depth2">
                                    <li><a href="#">Interview</a></li>
                                    <li><a href="#">Making</a></li>
                                </ul>
                            </li>
                            <li><a href="#">OST</a>
                                <ul class="depth2">
                                    <li><a href="#">OST</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a href="#" class="close">메뉴닫기</a>
                    </div>
                </nav>


            </div>
        </header>
        <!--//header-->

        <div class="dp2_bg"></div>

        <article id="main_visual">
            <!--main_visual-->
            <ul class="mv">
                <li class="mv1"></li>
                <li class="mv2"></li>
                <li class="mv3"></li>

            </ul>
        </article>
        <!--//main_visual-->

        <section id="season">
            <!--season-->
            <ul class="season_img">
                <li class="season1"></li>
                <li class="season2"></li>
                <li class="special"></li>
                <li class="season3"></li>
            </ul>
            <a href="#" class="line">라인</a>
        </section>
        <!--//season-->

        <section id="trailer" class="clearfix">
            <!--trailer-->
            <h2>Trailer</h2>

            <div class="tabmenu">
                <ul>
                    <p class="season"></p>
                    <li id="tab1" class="btnCon"><a class="btn first" href="#tab1">1</a>
                        <div class="tabCon">
                            <p class="s_tit">
                                While strange rumors about their ill king grip a kingdom,<br>the crown prince becomes their only hope <br>against a mysterious plague overtaking the land.
                            </p>
                            <ul>
                                <li class="video">
                                    <iframe width="620" height="350" src="https://www.youtube.com/embed/4l-yByZpaaM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <p class="desc">Season&nbsp;1&nbsp;Trailer&nbsp;:&nbsp;Kingdom</p>
                                </li>

                                <li class="video">
                                    <iframe width="620" height="350" src="https://www.youtube.com/embed/Bmhqw0F3q-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <p class="desc">Season&nbsp;1&nbsp;Trailer&nbsp;2&nbsp;:&nbsp; Kingdom</p>
                                </li>
                            </ul>
                        </div>

                    </li>
                    <li id="tab2" class="btnCon"><a class="btn" href="#tab2">2</a>
                        <div class="tabCon">
                            <p class="s_tit">
                                The outbreak leaves no one safe.<br> But the infected are not the only monsters in Prince Chang's way<br> as he fights to protect the kingdom.
                            </p>
                            <iframe width="620" height="350" src="https://www.youtube.com/embed/7ecrESKwh_Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             <p class="desc">Season&nbsp;2&nbsp;main&nbsp;Trailer</p>
                             <iframe width="620" height="350" src="https://www.youtube.com/embed/Dd7WM06AxME" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             <p class="desc">Season&nbsp;2&nbsp;motion&nbsp;art</p>
                        </div>
                </ul>
            </div>
        </section>
        <!--//trailer-->

        <section id="characters">
            <!--characters-->
            <div class="bg blinking">dfd</div>
            <div class="characters_inner">
                <h2>Characters</h2>
                
                <ul class="images imghvr-push-down">
                   <div class="top">
                    <li><a href="#"><p class="name">Chang Lee</p><img src="images/img/leechang.png" alt="이창"></a></li>
                    <li><a href="#"><p class="name">Seo-bi</p><img src="images/img/seobi.png" alt="서비"></a></li>
                    <li><a href="#"><p class="name">hak-ju Jo</p><img src="images/img/jo.png" alt="조학주"></a></li>
                    <li><a href="#"><p class="name">Queen</p><img src="images/img/queen.png" alt="계비"></a></li>
                    </div>
                    <div class="bottom">
                        <li><a href="#"><p class="name">Beompal</p><img src="images/img/beompal.png" alt="범팔"></a></li>
                        <li><a href="#"><p class="name">AhnHyun</p><img src="images/img/ahnhyun.png" alt="안현대감"></a></li>
                        <li><a href="#"><p class="name">Muyeong</p><img src="images/img/muyeong.png" alt="무영"></a></li>
                        <li><a href="#"><p class="name">YeongSin</p><img src="images/img/yeongsin.png" alt="영신"></a></li>
                    </div>
                </ul>
            </div>
        </section>
        <!--//characters-->

        <section id="stillcut">
            <!--stillcut-->
         <h2>Stillcut</h2>
           <ul class="still">
            <li>
            <h3><img src="images/img/stillcut_1.jpg" alt="stillcut"></h3>
            <div class="text">
                <h1><span>Season2</span><br>Episode1</h1>
                <p>SANGJU,<br>The North Of The Stream</p>
            </div>
            </li>
            <li>
            <h3><img src="images/img/stillcut_2.jpg" alt="stillcut2"></h3>
            <div class="text">
                <h1><span>Season1</span><br>Episode6</h1>
                <p>SANGJU,<br>The North Of The Stream</p>
            </div>
            </li>
            <li>
            <h3><img src="images/img/stillcut_3.jpg" alt="stillcut3"></h3>
            <div class="text">
                <h1><span>Season2</span><br>Episode1</h1>
                <p>SANGJU,<br>The North Of The Stream</p>
            </div>
            </li>
            </ul>
        </section>
        <!--//stillcut-->

        <section id="makingfilm" class="clearfix"><!--makingfilm-->
            <!--makingfilm-->
            <div class="makingfilm_inner">
            <h2>Makingfilm</h2>
            <p class="more">더보기</p>
            <iframe width="415" height="232" src="https://www.youtube.com/embed/9AySVxdrK-Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe width="415" height="232" src="https://www.youtube.com/embed/nhwwLgVnbIs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe width="415" height="232" src="https://www.youtube.com/embed/h36CON57LJs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
             <div class="footer">
             <div class="inner">
            <p>Netflix South Korea<br>

            Netflix Services Korea Ltd. E-Commerce Registration Number: Je 2018-Seoul Jong-ro-0426 Ho. Phone: 00-308-321-0161<br>
            Representative: Reginald Shawn Thompson
            Email: korea@netflix.com<br>
            Address: 20F, Tower A, Centropolis Building 26, Ujeongguk-ro, Jongno-gu, Seoul, 03161 Republic of Korea<br>
            Hosted by: Amazon Web Services Inc.
            Link to KFTC website</p>
            </div>
        </div>
        </section><!--//makingfilm-->
        <!--//makingfilm-->

       
    </div>
    <!--//wrap-->
    
    
</body></html>
